footer {
  width: 100dvw;
  background: #1c0a00;
  display: flex;
  justify-content: space-around;
  padding: 35px 0px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.text-white {
  color: #ffffff;
}

.footer-flex {
  display: flex;
}

.flex-direction {
  flex-direction: column;
}

.gap-40 {
  gap: 40px;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.row {
  width: 250px;
  justify-content: center;
}

.justify-end {
  justify-content: end;
}

.w-300 {
  width: 300px;
}

.align-end {
  align-items: end;
}
